version: '3.6'
services:
  redis:
    image: redis:6-alpine
    # command: redis-server --appendonly yes --requirepass layotto-js-sdk
    restart: always
    volumes:
      - layotto-js-sdk-redis:/data
    ports:
      - 6379:6379
    networks:
      - layotto-js-sdk

  etcd:
    image: quay.io/coreos/etcd
    environment:
      - ALLOW_NONE_AUTHENTICATION=yes
      - ETCD_ADVERTISE_CLIENT_URLS=http://0.0.0.0:2379
      - ETCD_LISTEN_CLIENT_URLS=http://0.0.0.0:2379
    ports:
      - 2379:2379
      - 2380:2380
    networks:
      - layotto-js-sdk

  minio:
    image: minio/minio:latest
    command: server /data --console-address ":9001"
    restart: always
    environment:
      - MINIO_ROOT_USER=layotto
      - MINIO_ROOT_PASSWORD=layotto_secret
    ports:
      - 9000:9000
      - 9001:9001
    volumes:
      - layotto-js-sdk-minio:/data
    networks:
      - layotto-js-sdk
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9000/minio/health/live"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  layotto-js-sdk-redis:
  layotto-js-sdk-minio:

networks:
  layotto-js-sdk:
    driver: bridge
